/*-------define root colors---------*/
:root {
    --color-facebook: #3b5998;
    --color-google: #ea4335;
    --color-twitter: #1da1f2;

    --style-1-color: #009688;
    --style-2-color: #009688;
    --style-3-color: #009688;
}


/*-------------------------------------------------
 * Modal Style 1 CSS start
 *-----------------------------------------------*/


.modal-style-1 .modal-login {
    width: 350px;
    font-size: 13px;
}
.modal-style-1 .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-style-1 .modal-login h4 {
    color: var(--style-1-color);
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 0;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: 900;
    width: 100%;
}
.modal-style-1 .modal-header .close{
    position: absolute;
    right: 20px;
}
.modal-style-1  .close:focus, .modal-style-1 .close:active {
   outline: none !important;
   box-shadow: none;
}
.modal-style-1 .modal-login a{
    text-decoration: none;
}

.modal-style-1 .modal-login form{
    width: 280px;
    margin: 0 auto;
}

.modal-style-1 .modal-login span.input-group-addon {
    width: 60px;
    text-align: center;
    border-radius: 25px 0 0 25px;
    border: 1px solid var(--style-1-color);
    padding: 8px;
    margin-right: 5px;
    background: var(--style-1-color);
    color: #fff;
}
.modal-style-1 .modal-login span.input-group-addon i{
    font-size: 16px;
}

.modal-style-1 input.form-control {
    border-radius: 0 25px 25px 0;
    font-size: 13px;
    border: 1px solid var(--style-1-color);
}
.modal-style-1 .btn-signin {
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: var(--style-1-color);
    border: 1px solid var(--style-1-color);
}

.modal-style-1 p.hint-text {
    text-align: center;
}

.modal-style-1 .register{
    color: var(--style-1-color);
    font-weight: 600px;
}

.modal-style-1 .social-login a {
    text-decoration: none;
    color: #fff;
    margin: 2px;
    height: 30px;
    display: inline-block;
    width: 30px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}
.modal-style-1 .btn-facebook{
    background-color: var(--color-facebook);
} 

.modal-style-1 .btn-google{
    background-color: var(--color-google);
} 

.modal-style-1 .btn-twitter{
    background-color: var(--color-twitter);
} 
.dark.modal-style-1 .modal-content{
    background: #0b0b1f;
    color: #fff;
}
.dark.modal-style-1 .close, .modal-style-1.dark .modal-login h4{
    color:#fff;
}

.dark .text-danger{
    color: #777!important;
}
@media only screen and (max-width: 360px) {
    .modal-style-1 .modal-login {width: 100%; margin:5px;}
    .modal-style-1 .modal-login form{width: 100%;}
}







/*-------------------------------------------------
 * Modal Style 2 CSS start
 *-----------------------------------------------*/

.modal-style-2 .modal-login {
    width: 350px;
}

.modal-style-2 .modal-login a{
    text-decoration: none !important;
}

.modal-style-2 .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-style-2 .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-style-2 .modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}
.modal-style-2  .close:focus, .modal-style-2 .close:active {
   outline: none !important;
   box-shadow: none;
}
.modal-style-2 .modal-login h4 {
    color: var(--style-2-color);
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    border-bottom: 0;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: bold;
}

.modal-style-2 .modal-login .modal-content {
    color: #999;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-style-2 .modal-login .form-group {
    margin-bottom: 20px;
}

.modal-style-2 .modal-login label {
    font-weight: normal;
    font-size: 13px;
}

.modal-style-2 .modal-login .modal-body {
    padding: 0;
}

.modal-style-2 .modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
    font-size: 13px
}

.modal-style-2 .modal-login .form-control:focus {
    border-color: #ccc;
}

.modal-style-2 .modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
    margin-right: 10px;
    padding-top: 15px;
}

.modal-style-2 .modal-login .btn {
    font-size: 15px;
    font-weight: bold;
    background: var(--style-2-color);
    border-radius: 25px;
    border: none;
    min-width: 140px;
    padding: 10px;
    outline: none !important;
}

.modal-style-2 .modal-login .btn:hover,
.modal-style-2 .modal-login .btn:focus {
    background: var(--style-2-color);
}
.modal-style-2  input:-internal-autofill-selected {
    background-color: transparent !important;
}
.modal-style-2 .modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.modal-style-2 .modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-style-2 .modal-login a {
    color: #fff;
    text-decoration: underline;
}

.modal-style-2 .modal-login a:hover {
    text-decoration: none;
}

.modal-style-2 .modal-login a {
    color: var(--style-2-color);
    text-decoration: none;
}

.modal-style-2 .modal-login a:hover {
    text-decoration: underline;
}

.modal-style-2 .modal-login .fa {
    font-size: 16px;
}


.dark.modal-style-2 .modal-content{
    background: #0b0b1f !important;
    color: #fff!important;
}
.dark.modal-style-2 .close, .modal-style-2.dark .modal-login h4{
    color:#fff!important;
}
.dark.modal-style-2 .modal-login .form-control{
    background: transparent !important;
    color: #fff;
    border-color: #777;
}
.dark.modal-style-2 .modal-login .input-group-addon{
    color:#9E9E9E;
}
.dark.modal-style-2 .modal-login .modal-footer{
    border: none;
}
.dark.modal-style-2 .modal-login .btn{
    background: #70807e;
}
.dark .text-danger{
    color: #777!important;
}

@media only screen and (max-width: 360px) {
    .modal-style-2 .modal-login {width: 100%; margin:5px;}
    .modal-style-2 .modal-login form{width: 100%;}
}




/*-------------------------------------------------
 * Modal Style 1 CSS start
 *-----------------------------------------------*/
 
.modal-style-3 .modal-login {
    width: 350px;
    font-size: 13px;
}
.modal-style-3 .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-style-3 .modal-login h4 {
    text-align: center;
    font-size: 18px;
    width: 100%;
}
.modal-style-3 .modal-header .close{
    position: absolute;
    right: 10px;
}
.modal-style-3  .close:focus, .modal-style-3 .close:active {
   outline: none !important;
   box-shadow: none;
}
.modal-style-3 .modal-login a{
    text-decoration: none !important;
}

.modal-style-3 .modal-login form{
    width: 280px;
    margin: 0 auto;
}

.modal-style-3 .modal-login .form-group{
    position: relative;

}
.modal-style-3 .modal-login .form-control {
    height: auto;
    min-height: 35px;
    border: 1px solid #eaeaea;
    padding: 0 10px;
    background-color: #fff;
    font-size: 13px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-left: 40px;
    border-radius: 25px;
}

.modal-style-3 .modal-login .form-control ~ i {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--style-3-color);
}

.modal-style-3 .btn-signin {
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: var(--style-3-color);
    border: 1px solid var(--style-3-color);
}
.dark.modal-style-3 .modal-content{
    background: #0b0b1f;
    color: #fff;
}
.dark.modal-style-3 .close, .modal-style-1.dark .modal-login h4{
    color:#fff;
}
.dark .text-danger{
    color: #777!important;
}
@media only screen and (max-width: 360px) {
    .modal-style-3 .modal-login {width: 100%; margin:5px;}
    .modal-style-3 .modal-login form{width: 100%;}
}

/*modal style 3 end*/














/*------extra css----------*/

.main-container{
    width:1140px;
    margin: 0 auto;
}
.text-12{
    font-size: 12px;
}

.button-card {
    margin: 0 auto;
    box-shadow: 1px 2px 5px 2px #d1d1d1;
    padding: 20px;
    border-radius: 5px;
}
.button-card img {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    max-height: 350px;
    position: relative;
}

.btn-theme{
    width: 100px;
    height: 35px;
    padding: 3px;
    border-radius: 26px;
}

@media only screen and (max-width: 1140px) {
    .main-container{ width: 100%; margin: 0 15px;}
}

@media only screen and (max-width: 480px) {
    .button-card img {width: 100%; height: auto;}
}